* {
    margin: 0;
    padding: 0;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

body {
    background: #F5F8FF;
}

/* container  */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
}

img {
    max-width: 100%;
    height: auto;
}

/* font classes  */

.inter-700 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.inter-600 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-500 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

/* font-size classes  */

.fs-16 {
    font-size: 16px;
}

.fs-65 {
    font-size: 65px;
}

.fs-22 {
    font-size: 22px;
}

.fs-50 {
    font-size: 50px;
}

.fs-20 {
    font-size: 20px;
}

.fs-40 {
    font-size: 40px;
}

.fs-28 {
    font-size: 28px;
}


/* color classes  */
.text-primary {
    color: #E95A08;

}

.text-black {
    color: #000;

}

.text-gray {
    color: #8987A1;
}

.text-gray-500 {
    color: #6B7280;
}

.text-rgb {
    color: rgba(0, 0, 0, 0.50);
}

.text-white {
    color: white;
}

/* other classes  */
.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.lh-150 {
    line-height: 150%;
}


/* main css start  ******** */

/* nav section  */
.nav-section {
    padding-top: 30px;
}

.nav-wrapper {
    justify-content: space-between;
    align-items: center;
}

.nav-blocks {
    gap: 48px;
}

.nav-links {
    gap: 48px;
}

.nav-links li {
    line-height: 150%;
}

.nav-cart {
    gap: 10px;
}

/* responsive media query  */
@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }
}

/* banner section  */
.banner-section {
    padding-top: 100px;
}

.banner-wrapper {
    display: flex;
    align-items: end;

}

.banner-heading {
    max-width: 517px;
    padding-bottom: 15px;
}

.banner-details {
    max-width: 570px;
}

/* responsive media query  */
@media screen and (max-width: 576px) {
    .banner-wrapper {
        flex-direction: column-reverse;
        row-gap: 20px;
    }

    .banner-heading {
        font-size: 24px;
        max-width: 191px;
    }

    .banner-details {
        font-size: 14px;
    }

    .banner-section {
        padding-top: 50px;
    }
}


/* plant section start  */
.plants-section {
    padding-top: 100px;
}

.plant-heading {
    text-align: center;
    padding-bottom: 16px;
}

.plant-details {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 50px;
}

.plant-card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.plant-card-img {
    padding-bottom: 30px;
}

.plant-card-img img {
    width: 100%;
}

.plant-price {
    padding: 10px 0 30px 0;

}

.plant-button {
    display: block;
    text-align: center;
    align-items: center;
    padding: 15px 50px;
    background-color: #E95A08;
}

/* responsive media query  */
@media screen and (max-width: 576px) {
    .plant-card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .plant-heading {
        font-size: 24px;
    }

    .plant-details {
        font-size: 14px;
    }


    .plant-price {
        font-size: 16px;
    }

    .plant-name {
        font-size: 16px !important;
    }

}

/* plants lover section  */
.plants-lover-section {
    padding: 200px 0;
}

.plants-lover-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
}

.plants-lover-heading {
    max-width: 440px;
    line-height: 100%;
    padding-bottom: 20px;
}

.plants-lover-details p {
    padding-left: 20px;
    position: relative;
    line-height: 150%;
}

.plants-lover-details p:before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    color: #666;
    font-size: 20px;
    line-height: 1.2;
}

.plants-detailed-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plants-lover-image {
    position: relative;
}

.trusted-badge {
    position: absolute;
    max-width: 286px;
    top: -21%;
    left: 67%;
    /* box-shadow: -4px 10px 4px 0 rgba(0, 0, 0, 0.25); */
}

/* responsive media query  */
@media screen and (max-width: 576px) {
    .plants-lover-wrapper {
        grid-template-columns: 1fr;
    }

    .plants-lover-heading {
        font-size: 24px;
    }

    .plants-lover-details p {
        font-size: 16px;
    }

    .trusted-badge {
        display: none;
    }
}


/* join section start  */
.join-section {
    padding: 200px 0;
    background-image: url(assets/news-letter-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.join-heading {
    padding-bottom: 20px;
}

.email-input {
    padding: 15px 20px;
    width: 644px;
}

.email-input:focus {
    outline: none;
}

.email-input::placeholder {
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.input-button {
    padding: 14px 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    background: #E95A08;
    border: 0;
}

.join-form {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

/* responsive media query  */
@media screen and (max-width: 576px) {
    .join-section {
        padding: 100px 0;
    }

    .join-heading {
        font-size: 20px;
    }
}